
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  width: 100%;
}

nav {
  align-content: center;
  justify-content: space-between;
  margin-left: auto;
}


li {
  display: inline;
  padding: 10px;
}

a {
  color: seashell;
}

#logo {
  height: 50px;
  padding-left: 10px;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}
